body {
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 2fr;
    width: 100%;
    height: 5em;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    margin: 0;
}

.header__logo__image {
    height: 5em;
    width: 5em;
}

.header__company-name {
    color: white;
    font-size: 42px;
    margin: 0 auto;
    line-height: 2em;

}

.menu {
    height: 100%;
    margin: 0 auto;
    line-height: 5em;
}
.menu__element {
    list-style: none;
    float: left;
    margin-right: 100px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
}

.header__text {
    color: white;
    line-height: 2em;
    font-size: 18px;
    opacity: 1;
    margin: 0 auto;

}

a {
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;

}



.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . . ."
    ". title title play"
    ". butt . . "
    ". list list list ";
    height: 50em;
    width: 100%;
    background-image: url(../test.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
    z-index: 5;
}



.span_title {
    font-family: MullerBlack,Arial,sans-serif;
    font-size: 44px;
}

.main__title__h1 {
    align-self: end;
    grid-area: title;
    color: white;
}

.main__button {
    background-image: url(../btn.png);
    background-repeat: repeat-x;
    color: white;
    font-size: 18px;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 15px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.main__button:hover {
    filter: brightness(110%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main__button:active {
    transform: translateY(8px);
    height: 53px;
    width: 210px;
}

.main__btn {
    grid-area: butt;
    align-self: center;
    height: 70px;
    width: 220px;
}

.main__list {
    grid-area: list;
    margin-top: 25px;

}

.main__list__item {
    list-style: none;
    color: white;
    font-size: 18px;
    margin-right: 35px;
    float: left;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
}

.video {
    margin-top: 200px;
    height: 150px;
}
.play__circle-orange {
    margin-left: -75px;
    margin-top: -115px;
    float: left;
    border-radius: 100%;
    border-top: 8px solid #f9bd3c;
    border-left: 8px solid #f9bd3c;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    height: 150px;
    width: 150px;
    animation-name: spin;
    animation-duration: 2400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}

.play__circle {
    float: left;
    border-radius: 100%;
    border-top: 4px solid gray;
    border-left: 4px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    height: 80px;
    width: 80px;
    animation-name: spin2;
    animation-duration: 2400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: -35px;
    margin-left: -40px;
 
    z-index: 100;

}
 
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spin2 {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

.play__link{
    align-self: center;
    justify-self: center;
    margin-top: 14%;
    background-image: url(../play.png);
    grid-area: play;
    height: 6%;
    width: 3%;
}

.play__link:hover{
    filter: brightness(125%);

}

.advantages {
    display: grid;
    height: 59em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 4fr;
    grid-template-areas:
    "title title title";
}

.advantage {
    margin: 0 auto;
    height: 70%;
    width: 80%;
    border: none;
    -webkit-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
}

.advantages__title {
    align-self: center;
    grid-area: title;
    margin: 0 auto;
    font-size: 45px;
    text-align: center;
    width: 100%;
}

.yellow-line {
    width: 90%;
    border-bottom: 8px solid #f9bd3c;
    margin: 0 auto;
}

.advantage__logo {
    width: 35%;
    margin: 0 auto;
}

.advantage__title {
    width: 70%;
    margin: 0 auto;
    font-size: 25px;
}

.adv-img {
    height: 100%;
    width: 100%;
}

.advantage__text {
    padding-top: 10%;
    font-size: 25px;
    width: 95%;
    margin: 0 auto;
    color: rgb(165, 162, 162);
}

.before-after {
    display: grid;
    grid-template-columns: 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw;
    grid-template-rows: 16.6vw 16.6vw 16.6vw 16.6vw;
    grid-template-areas: 
    "title title title title title title";
    margin: 0 auto;
    width: 100%;
    height: 70vw;
    background-image: url(../before-after.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

.before-after__title {
    grid-area: title;
    font-size: 45px;
    align-self: center;
    text-align: center;
    color: white;
    width: 100%;
}

.one {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 2/4;
}

.two {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 4;
}

.three {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 2;
    grid-row: 4;
}

.four {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 3;
    grid-row: 2;
}

.five {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 4;
    grid-row: 2;
}

.six {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    grid-column: 3/5;
    grid-row: 3/5;
}

.seven {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    grid-column: 5/7;
    grid-row: 2/4;
}

.eight {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 5;
    grid-row: 4;
}

.nine {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 6;
    grid-row: 4;
}

.b-a__big_img {
    height: 100%;
    width: 100%;
    border: 3px solid #f9bd3c;

}

.b-a__small_img {
    height: 100%;
    width: 100%;
    border: 3px solid #f9bd3c;
}



.rates {
    height: 1000px;
 }

.rates__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
 }

.rates__title {
    padding-top: 160px;
    font-size: 45px;
    text-align: center;
    width: 100%;
}

.rates__title2 {
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
    color: grey;
    width: 100%;

}

.cleaning__border {
    margin: 0 auto;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 35px;
    width: 90%;
    float: left;
    border: 3px solid #f9bd3c;
    border-radius: 5px;

}

.cleaning__item {
    width: 96%;
    border: 3px solid black;
    margin: 0 auto;
}

.cleaning__item__title {
    width: 80%;
    font-size: 80%;
    margin: 0 auto;
    padding-top: 3%;
}

hr {
    width: 80%;
    height: 0.2%;
    color: black;
    background-color: black;
}

.cleaning__item__cost {
    font-size: 90%;
    width: 60%;
    margin: 0 auto;
}

.cleaning__item__list {
    width: 80%;
    color: black;
    margin-top: 0%;
    margin-bottom: 3%;
    
}

.cleaning__item__list__item {
    font-size: 75%;
    color: black;
}

.cleaning__item__list__title {
    width: 80%;
    border-bottom: 1px solid black;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 0%;
}

.btn_order {
    background-image: url(../btn.png);
    background-repeat: repeat-x;
    color: white;
    font-size: 18px;
    height: 95%;
    width: 95%;
    border: none;
    border-radius: 15px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn_order:hover {
    filter: brightness(110%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn_order:active {
    transform: translateY(8px);
    height: 98%;
    width: 98%;
}

.cleaning__item__btn-order {
    width: 40%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 7%;
}

.calculate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;
    padding-top: 5vw;
    width: 100%;
    background-image: url(../calc.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.calculate__title {
    justify-self: start;
    font-size: 45px;
}

.black-line {
    width: 240px;
    border-bottom: 8px solid black;
    margin: 0 auto;
}


.calculator{
    float: left;
    width: 500px;
    height: 470px;
    border: 12px solid #f9bd3c;
    margin-left: 45px;
    padding: 15px;
    background-color: rgb(241, 241, 159);
    -webkit-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
}

.calculator__list-clean{
    height: 100px;
    width: 400px;

}

.clean__elem {
    float: left;
    margin-bottom: 10px; 
}

.clean-item {
    height: 40px;
    width: 110px;
    color: grey;
    font-size: 15px;
    margin-right: 15px;
    border-radius: 12px;
    background-color: rgb(214, 214, 214);
    border: none;
    outline: none;
}


.clean-item:hover {
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
}

.clean-item:active {
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
    filter: brightness(120%);
}

.clean-item-pressed {
    border: none;
    outline: none;
    margin-right: 15px;
    border-radius: 12px;
    height: 40px;
    width: 110px;
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
    filter: brightness(100%);
}
.calculator__add-options {
    height: 130px;
    width: 400px;
}

.add-options__elem {
    float: left;

}

.options {
    height: 50px;
    width: 90px;
    color: grey;
    font-size: 15px;
    margin-right: 15px;
    border-radius: 12px;
    background-color: rgb(214, 214, 214);
    border: none;
    outline: none;
}

.list_arr {
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 5px;
}

.options:hover {
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
}

.options:active {
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
    filter: brightness(120%);
}

.options-pressed {
    margin-right: 15px;
    border-radius: 12px;
    height: 50px;
    width: 90px;
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
    border: none;
    outline: none;
}

.calculator__rooms {
    height: 130px;
    width: 450px;
    margin-bottom: 60px;
}

.rooms__elem {

    float: left;
}

.list-options {
 font-size: 15px;
}

.list-options:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.rooms {
    height: 30px;
    width: 70px;
    color: grey;
    font-size: 15px;
    margin-right: 15px;
    border-radius: 12px;
    background-color: rgb(214, 214, 214);
    border: none;
    outline: none;
}

.rooms-pressed {
    height: 30px;
    width: 70px;
    border: none;
    outline: none;
    border-radius: 12px;
    color: black;
    font-size: 20px;
    margin-right: 15px;
    background-image: url(../btn.png);
}

.rooms:hover {
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
}

.rooms:active {
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
    filter: brightness(120%);
}

.calculator__windows {
    height: 200px;
    width: 450px;
}


.windows__elem {
    float: left;
    margin-bottom: 10px;
}

.windows {
    height: 30px;
    width: 70px;
    color: grey;
    font-size: 15px;
    margin-right: 15px;
    border-radius: 12px;
    background-color: rgb(214, 214, 214);
    border: none;
    outline: none;
}

.windows:hover {
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
}
.windows-pressed {
    height: 30px;
    width: 70px;
    margin-right: 15px;
    border-radius: 12px;
    border: none;
    outline: none;
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
}

.windows:active {
    color: black;
    font-size: 20px;
    background-image: url(../btn.png);
    filter: brightness(120%);
}
.btn-calc{
    height: 70px;
    width: 220px;
    margin: 0 auto;
}


.calc_input {
    font-size: 22px;
    outline: none;
    width: 330px;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #f9bd3c;
}

.button-calculate {
    background-image: url(../btn.png);
    background-repeat: repeat-x;
    color: white;
    font-size: 18px;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 15px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-calculate:hover {
    filter: brightness(110%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-calculate:active {
    transform: translateY(8px);
    height: 53px;
    width: 210px;
}

.calculate__errors {
    padding-left: 30px;
    height: 400px;
    width: 400px;
    border: 5px solid #f9bd3c;
    position: fixed;
    left: 20%;
    top: 40%;
    display: none;
    background-color:rgb(241, 241, 159);
    -webkit-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    z-index: 80000;
}

#errors__text {
    margin-top: 50px;
}

.close-btn__error{
    float: left;
    border:none;
    outline: none;
    width: 40px;
    height: 40px;
    margin-left: 320px;
    margin-right: 0px;
    font-size: 20px;
    border-radius: 100%;
    background-color: #f9bd3c;
    color: white;
}

.close-btn__error:hover {
    filter: brightness(120%);
}

.btn-back {
    height: 47px;
    width: 160px;
    padding-top: 35px;
    margin: 0 auto;
}

.button-back {
    background-image: url(../btn.png);
    background-repeat: repeat-x;
    color: white;
    font-size: 18px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 15px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-back:hover {
    filter: brightness(110%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-back:active {
    transform: translateY(8px);
    height: 37px;
    width: 170px;
}

#mask {
    background-color:rgba(0,0,0,.7);
    height:100%;
    position:fixed;
    display: none;
    
    width:100%;
    top:0;
    left:0;
    z-index: 10000;
}

.calc__popup {
    padding-right: 0px;
    position: fixed;
    width: 850px;
    height: 500px;
    left:50%;
    bottom: 50%;
    margin-bottom: -250px; 
    margin-left:-425px; 
    z-index: 20000;
    background-color: white;
    display: none;
    -webkit-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
}

.calc__popup__form {
    padding: 25px;
    width: 400px;
    height: 360px;
    margin-top: 70px;
    margin-left: 30px;
    border: 12px solid #f9bd3c;
    float: left;
}

.form__field__title {
    margin-left: 35px;
    font-size: 26px;
    color: black;
    margin-bottom: 18px;
}

.form__field__name {
    margin-left: 35px;
    outline: none;
    border: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    margin-bottom: 65px;
    font-size: 20px;
}

.form__field__phone {
    margin-left: 35px;
    outline: none;
    border: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    margin-bottom: 45px;
    font-size: 20px;
}

.calc__popup__text {
    float: left;
    width: 380px;
    margin-top: 70px;
    text-align: center;
}

.cost__title {
    font-size: 30px;
    margin: 0 auto;
}

.cost__field {
    font-size: 25px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.cost__btn {
    margin: 0 auto;
    margin-top: 80px;
    height: 70px;
    width: 220px;
}

.close-btn{
    border:none;
    outline: none;
    width: 40px;
    height: 40px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 20px;
    border-radius: 100%;
    background-color: #f9bd3c;
    color: white;
}

.close-btn:hover {
    filter: brightness(120%);
}

.feedback {
    height: 66vh;
    width: 100%;  
}

.feedback__title {
    width: 80vw;
    margin: 0 auto;
    margin-top: 6vw;
    font-size: 45px;
    text-align: center;
}

.feedback__block {
    margin: 0 auto;
    padding-top: 7vw;
    display: grid;
    grid-template-columns: 1fr 1.3fr 2fr;
}

.feedback__block__manager__logo {
    border-radius: 100%;
    margin-top: 10vw;
    width: 180px;
    height: 180px;
    border: 4px solid #f9bd3c;
}
.man_logo {
    justify-self: center;
}
.feedback__block__text {
    margin-top: 10vw;
    font-size: 35px;
}

.feedback__form__container {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.feedback__form__container__title {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

.feedback__form {
    padding: 5%;
    font-size: 35px;
    margin-right: 0%;
    border: 12px solid #f9bd3c;
}

.feedback__form__title {
    margin: 0 auto;
    font-size: 70%;
    color: black;
    margin-bottom: 18px;
}

.feedback__form__name {
    margin: 0 auto;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    margin-bottom: 65px;
    font-size: 60%;
}

.feedback__form__phone {
    margin: 0 auto;
    outline: none;
    width: 80%;
    border: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    margin-bottom: 45px;
    font-size: 60%;
}

.feedback__form__btn {
    height: 30px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1.5vw;
}

.feedback__button {
    background-image: url(../btn.png);
    background-repeat: repeat-x;
    color: white;
    font-size: 18px;
    height: 95%;
    width: 95%;
    border: none;
    border-radius: 15px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.feedback__button:hover {
    filter: brightness(110%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.feedback__button:active {
    transform: translateY(8px);
    height: 100%;
    width: 100%;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "title title title title";
    width: 100%;
    background-image: url(../before-after.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60vw;
}

.reviews__title {
    grid-area: title;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 45px;
}

.review__item {
    justify-self: center;
    height: 25vw;
    background-color: rgb(255, 255, 255);
    padding: 1.5%;
    width: 18vw;
    float: left;
    border: 15px double #f9bd3c;
}

.review__item__reviewer-name {
    font-size: 3vw;
    text-align: center;
}

.review__item__text {
    margin-top: 1.5vw;
    height: 60%;
    font-size: 1.5vw;
}

.review__item__and {
    margin-top: 4%;
    font-size: 0.9vw;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    color: white;
    background-color: rgb(14, 13, 13);
    height: 180px;
    opacity: 0.8;
    width: 100%;
}

.footer__developer {
    justify-self: center;
    align-self: center;
    width: 200px;
    font-size: 0.9vw;
    float: left;
}

.developer__logo {
    width: 100px;
    height: 100px;
    border: 4px solid #f9bd3c;
    border-radius: 100%;
}

.social-networks {
    justify-self: center;
    float: left;
}

.social-network {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.contacts {
    font-size: 1vw;
    align-self: center;

}

.contact {
    margin-top: 10px;
}

.subscribe {
    justify-self: center;
    align-self: center;

}

.subsc__text {
    font-size: 1vw;
}

.button-sbsc {
    background-image: url(../btn.png);
    background-repeat: repeat-x;
    color: white;
    font-size: 1vw;
    height: 30px;
    width: 160px;
    border: none;
    border-radius: 15px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-sbsc:hover {
    filter: brightness(110%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-sbsc:active {
    transform: translateY(8px);
    height: 37px;
    width: 170px;
}

.btn-sbsc {
    margin-left: 15px;
    float: left;
    height: 40px;
    width: 190px;
    margin-top: 10px;
}

.email-input {
    margin-top: 10px;
    border: none;
    outline: none;
    float: left;
    border-bottom: 4px solid #f9bd3c;
}