body {
    margin: 0;
}

.block__title-white {
    font-size: 3vw;
    align-self: center;
    text-align: center;
    color: white;
}

.block__title-black {
    font-size: 3vw;
    align-self: center;
    text-align: center;
    color: black;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr 2fr;
    width: 100%;
    height: 6vw;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    margin: 0;
}

.header__logo__image {
    justify-self: center;
    align-self: center;
    height: 5vw;
    width: 5vw;
}

.header__company-name {
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 3vw;
    margin: 0 auto;
}

.menu__element {
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
}

.header__text {
    align-self: center;
    color: white;
    font-size: 1.2vw;
    opacity: 1;
    margin: 0 auto;

}

a {
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;

}



.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . . ."
    ". title title play"
    ". butt . . "
    ". list list list ";
    height: 50vw;
    width: 100%;
    background-image: url(../test.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
    z-index: 5;
}

.button__container {
    height: 5vw;
    width: 19vw;
    margin: 0 auto;
}

.button {
    background-image: url(../btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.5vw;
    height: 4vw;
    width: 18vw;
    border: none;
    border-radius: 2vw;
    outline: none;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.button:hover {
    filter: brightness(114%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
    transform: translateY(8px);
    height: 4.3vw;
    width: 18.5vw;
}

.main__button {
    grid-area: butt;
    align-self: center;
}


.span_title {
    font-family: MullerBlack,Arial,sans-serif;
    font-size: 3vw;
}

.main__title__h1 {
    align-self: end;
    grid-area: title;
    color: white;
}

.main__list {
    grid-area: list;
    align-self: flex-start;

}

.main__list__item {
    list-style: none;
    color: white;
    font-size: 1.2vw;
    margin-right: 5vw;
    float: left;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
}

.play__link{
    align-self: center;
    justify-self: center;
    margin-top: 14%;
    background-image: url(../play.png);
    grid-area: play;
    height: 6%;
    width: 3%;
}

.play__link:hover{
    filter: brightness(125%);

}

.play__circle-orange {
    margin-left: -5vw;
    margin-top: -7.75vw;
    float: left;
    border-radius: 100%;
    border-top: 8px solid #f9bd3c;
    border-left: 8px solid #f9bd3c;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    height: 10vw;
    width: 10vw;
    animation-name: spin;
    animation-duration: 2400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 
    z-index: 100;
}

.play__circle {
    float: left;
    border-radius: 100%;
    border-top: 4px solid gray;
    border-left: 4px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    height: 5vw;
    width: 5vw;
    animation-name: spin2;
    animation-duration: 2400ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: -2.25vw;
    margin-left: -2.5vw;
 
    z-index: 100;

}
 
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spin2 {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}



.advantages {
    display: grid;
    height: 50vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 4fr;
    grid-template-areas:
    "title title title";
}

.advantage {
    margin: 0 auto;
    height: 28vw;
    width: 28vw;
    border: none;
    -webkit-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
}

.advantages__title {
    align-self: center;
    grid-area: title;
}

.yellow-line {
    width: 40%;
    border-bottom: 8px solid #f9bd3c;
    margin: 0 auto;
}

.advantage__logo {
    width: 35%;
    margin: 0 auto;
}

.advantage__title {
    width: 50%;
    margin: 0 auto;
    font-size: 1.8vw;
}

.adv-img {
    height: 100%;
    width: 100%;
}

.advantage__text {
    padding-top: 10%;
    font-size: 1.5vw;
    width: 95%;
    margin: 0 auto;
    color: rgb(165, 162, 162);
    margin-bottom: 5%;
}

.before-after {
    display: grid;
    grid-template-columns: 16.5vw 16.5vw 16.5vw 16.5vw 16.5vw 16.5vw;
    grid-template-rows: 16.5vw 16.5vw 16.5vw 16.5vw;
    grid-template-areas: 
    "title title title title title title";
    margin: 0 auto;
    width: 100%;
    height: 75vw;
    background-image: url(../before-after.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

.before-after__title {
    grid-area: title;
    align-self: center;
}

.one {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    grid-column: 1/3;
    grid-row: 2/4;
}

.two {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 4;
}

.three {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 2;
    grid-row: 4;
}

.four {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 3;
    grid-row: 2;
}

.five {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 4;
    grid-row: 2;
}

.six {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    grid-column: 3/5;
    grid-row: 3/5;
}

.seven {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    grid-column: 5/7;
    grid-row: 2/4;
}

.eight {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 5;
    grid-row: 4;
}

.nine {
    width: 81%;
    height: 81%;
    margin: 0 auto;
    grid-column: 6;
    grid-row: 4;
}

.b-a__big_img {
    height: 100%;
    width: 100%;
    border: 3px solid #f9bd3c;

}

.b-a__small_img {
    height: 100%;
    width: 100%;
    border: 3px solid #f9bd3c;
}



.rates {
    height: 65vw;
 }

.rates__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
 }

.rates__title {
    padding-top: 10vw;
    text-align: center;
    width: 100%;
}

.rates__title2 {
    padding-top: 1.5vw;
    margin-bottom: 4vw;
    font-size: 1.5vw;
    text-align: center;
    color: grey;
    width: 100%;

}

.cleaning__border {
    margin: 0 auto;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 90%;
    float: left;
    border: 3px solid #f9bd3c;
    border-radius: 5px;

}

.cleaning__item {
    width: 96%;
    border: 3px solid black;
    margin: 0 auto;
}

.cleaning__item__title {
    width: 65%;
    font-size: 2.5vw;
    margin: 0 auto;
    padding-top: 3%;
}

hr {
    width: 80%;
    height: 0.2%;
    color: black;
    background-color: black;
}

.cleaning__item__cost {
    font-size: 3vw;
    width: 60%;
    margin: 0 auto;
}

.cleaning__item__list {
    width: 80%;
    color: black;
    margin-top: 0%;
    margin-bottom: 3%;
    
}

.cleaning__item__list__item {
    font-size: 1.5vw;
    color: black;
}

.cleaning__item__list__title {
    width: 80%;
    border-bottom: 1px solid black;
    font-size: 2vw;
    margin: 0 auto;
    margin-bottom: 2vw;
}

.order__btn {
    align-self: center;
}
.calculate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;
    margin-top: 10vw;
    padding-top: 3vw;
    width: 100%;
    background-image: url(../calc.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.calculate__title {
    justify-self: start;
    align-self: flex-start;
}

.black-line {
    width: 240px;
    border-bottom: 8px solid black;
    margin: 0 auto;
}


.calculator{
    float: left;
    width: 75%;
    border: 12px solid #f9bd3c;
    margin-left: 3vw;
    padding: 3vw;
    background-color: rgb(241, 241, 159);
    -webkit-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
}

.calculator__list-clean{
    width: 100%;

}

.clean__elem {
    float: left;
    margin-bottom: 2vw; 
}

.clean-item {
    height: 4vw;
    width: 8vw;
    color: grey;
    font-size: 1.3vw;
    margin-right: 2vw;
    border-radius: 3vw;
    background-color: rgb(214, 214, 214);
    border: none;
    outline: none;
}


.clean-item:hover {
    color: black;
    font-size: 1.45vw;
    background-image: url(../btn.png);
}

.clean-item:active {
    color: black;
    font-size: 1.45vw;
    background-image: url(../btn.png);
    filter: brightness(120%);
}

.clean-item-pressed {
    border: none;
    outline: none;
    margin-right: 2vw;
    border-radius: 3vw;
    height: 4vw;
    width: 8vw;
    color: black;
    font-size: 1.45vw;
    background-image: url(../btn.png);
    filter: brightness(100%);
}
.calculator__add-options {
    width: 100%;
}

.add-options__elem {
    float: left;

}

.options {
    height: 3vw;
    width: 7vw;
    color: grey;
    font-size: 1.3vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
    border-radius: 1vw;
    background-color: rgb(214, 214, 214);
    border: none;
    outline: none;
}

.list_arr {
    height: 2vw;
    width: 2vw;
    float: left;
    margin-right: 5px;
}

.options:hover {
    color: black;
    font-size: 1.45vw;
    background-image: url(../btn.png);
}

.options:active {
    color: black;
    font-size: 1.45vw;
    background-image: url(../btn.png);
    filter: brightness(120%);
}

.options-pressed {
    margin-right: 1vw;
    border-radius: 1vw;
    height: 3vw;
    width: 7vw;
    color: black;
    font-size: 1.45vw;
    background-image: url(../btn.png);
    border: none;
    outline: none;
}

.calculator__rooms {
    width: 100%;
    margin-bottom: 1vw;
}

.rooms__elem {

    float: left;
}

.list-options {
 font-size: 1.3vw;
}

.list-options:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.rooms {
    height: 3vw;
    width: 5.5vw;
    color: grey;
    font-size: 1.3vw;
    margin-right: 1vw;
    border-radius: 1vw;
    background-color: rgb(214, 214, 214);
    border: none;
    outline: none;
}

.rooms-pressed {
    height: 3vw;
    width: 5.5vw;
    border: none;
    outline: none;
    border-radius: 1vw;
    color: black;
    font-size: 1.45vw;
    margin-right: 1vw;
    background-image: url(../btn.png);
}

.rooms:hover {
    color: black;
    font-size: 1.45vw;
    background-image: url(../btn.png);
}

.rooms:active {
    color: black;
    font-size: 1.45vw;
    background-image: url(../btn.png);
    filter: brightness(120%);
}


.btn-calc{
    height: 70px;
    width: 220px;
    margin: 0 auto;
}


.calc_input {
    font-size: 1.45vw;
    outline: none;
    width: 80%;
    margin-top: 2vw;
    margin-bottom: 1.5vw;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #f9bd3c;
}


.calculate__errors {
    padding-left: 2vw;
    width: 25vw;
    border: 5px solid #f9bd3c;
    position: fixed;
    left: 20%;
    top: 20%;
    display: none;
    background-color:rgb(241, 241, 159);
    -webkit-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    z-index: 80000;
}

#errors__text {
    margin-top: 2vw;
}

.close-btn__error{
    float: left;
    border:none;
    outline: none;
    width: 2.2vw;
    height: 2.2vw;
    margin-left: 22.8vw;
    margin-right: 0vw;
    font-size: 1.5vw;
    border-radius: 100%;
    background-color: #f9bd3c;
    color: white;
}

.close-btn__error:hover {
    filter: brightness(120%);
}

.btn-back {
    height: 5vw;
    width: 10vw;
    padding-top: 1vw;
    margin: 0 auto;
}

.button-back {
    background-image: url(../btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.3vw;
    height: 4vw;
    width: 9vw;
    border: none;
    border-radius: 1vw;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-back:hover {
    filter: brightness(110%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-back:active {
    transform: translateY(8px);
    height: 4.2vw;
    width: 9.3vw;
}

#mask {
    background-color:rgba(0,0,0,.7);
    height:100%;
    position:fixed;
    display: none;
    
    width:100%;
    top:0;
    left:0;
    z-index: 10000;
}

.calc__popup {
    padding-right: 0px;
    position: fixed;
    height: 30vw;
    left:50%;
    bottom: 50%;
    margin-bottom: -17.5vw; 
    margin-left: -22.5vw; 
    z-index: 20000;
    background-color: white;
    display: none;
    -webkit-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
    box-shadow: 8px 9px 25px 1px rgba(0,0,0,0.59);
}

.calc__popup__form {
    padding: 2vw;
    width: 22vw;
    margin-top: 3vw;
    margin-left: 2vw;
    border: 12px solid #f9bd3c;
    float: left;
}

.form__field__title {
    margin-left: 2vw;
    font-size: 2vw;
    color: black;
    margin-bottom: 1.5vw;
}

.form__field__name {
    margin-left: 2vw;
    outline: none;
    border: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    margin-bottom: 3vw;
    font-size: 1.5vw;
}

.form__field__phone {
    margin-left: 2vw;
    outline: none;
    border: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    margin-bottom: 2vw;
    font-size: 1.5vw;
}

.calc__popup__text {
    float: left;
    width: 22vw;
    margin-top: 3vw;
    margin-bottom: 4vw;
    text-align: center;
    float: left;
}

.cost__title {
    font-size: 2vw;
    margin-bottom: 3vw;
    margin: 0 auto;
}

.cost__field {
    font-size: 1.8vw;
    margin: 0 auto;
}

.cost__btn {
    margin: 0 auto;
    margin-top: 80px;
    height: 70px;
    width: 220px;
}

.close-btn{
    border:none;
    outline: none;
    width: 4vw;
    height: 4vw;
    margin-right: 0px;
    font-size: 1.5vw;
    border-radius: 100%;
    background-color: #f9bd3c;
    color: white;
}

.close-btn:hover {
    filter: brightness(120%);
}

.feedback {
    height: 60vw;
    width: 100%;  
}

.feedback__title {
    width: 80vw;
    margin: 0 auto;
    margin-top: 6vw;
    text-align: center;
}

.feedback__block {
    margin: 0 auto;
    padding-top: 7vw;
    display: grid;
    grid-template-columns: 1fr 1.3fr 2fr;
}

.feedback__block__manager__logo {
    border-radius: 100%;

    width: 15vw;
    height: 15vw;
    border: 4px solid #f9bd3c;
}

.man_logo {
    justify-self: center;
    align-self: center;
}

.feedback__block__text {
    font-size: 2vw;
    align-self: center;
    
}

.feedback__form__container {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.feedback__form__container__title {
    margin: 0 auto;
    text-align: center;
    font-size: 1.8vw;
}

.feedback__form {
    padding: 5%;
    margin-right: 0%;
    border: 12px solid #f9bd3c;
}

.feedback__form__title {
    margin: 0 auto;
    font-size: 2vw;
    color: black;
    margin-bottom: 1.8vw;
}

.feedback__form__name {
    margin: 0 auto;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    margin-bottom: 4vw;
    font-size: 1.5vw;
}

.feedback__form__phone {
    margin: 0 auto;
    outline: none;
    width: 80%;
    border: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    margin-bottom: 1.8vw;
    font-size: 1.8vw;
}

.feedback__form__btn {
    height: 30px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1.5vw;
}

.feedback__button {
    background-image: url(../btn.png);
    background-repeat: repeat-x;
    color: white;
    font-size: 18px;
    height: 95%;
    width: 95%;
    border: none;
    border-radius: 15px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.feedback__button:hover {
    filter: brightness(110%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.feedback__button:active {
    transform: translateY(8px);
    height: 100%;
    width: 100%;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "title title title title";
    width: 100%;
    background-image: url(../before-after.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60vw;
}

.reviews__title {
    grid-area: title;
    align-self: center;
    justify-self: center;
}

.review__item {
    justify-self: center;
    height: 25vw;
    background-color: rgb(255, 255, 255);
    padding: 1.5%;
    width: 18vw;
    float: left;
    border: 15px double #f9bd3c;
}

.review__item__reviewer-name {
    font-size: 3vw;
    text-align: center;
}

.review__item__text {
    margin-top: 1.5vw;
    height: 60%;
    font-size: 1.5vw;
}

.review__item__and {
    margin-top: 4%;
    font-size: 0.9vw;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    color: white;
    background-color: rgb(14, 13, 13);
    height: 12vw;
    opacity: 0.8;
    width: 100%;
}

.footer__developer {
    justify-self: center;
    align-self: center;
    margin-left: 5vw;
    width: 20vw;
    font-size: 0.9vw;
    float: left;
}

.developer__logo {
    width: 5vw;
    height: 5vw;
    border: 4px solid #f9bd3c;
    border-radius: 100%;
}

.social-networks {
    justify-self: center;
    align-self: center;
    float: left;
}

.social-network {
    margin-top: 1vw;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
}

.contacts {
    font-size: 1vw;
    align-self: center;

}

.contact {
    margin-top: 1vw;
}

.subscribe {
    justify-self: center;
    align-self: center;

}

.subsc__text {
    font-size: 1vw;
}

.button-sbsc {
    background-image: url(../btn.png);
    background-repeat: repeat-x;
    color: white;
    font-size: 1vw;
    height: 3vw;
    width: 8vw;
    border: none;
    border-radius: 15px;
    outline: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-sbsc:hover {
    filter: brightness(110%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-sbsc:active {
    transform: translateY(8px);
    height: 3.2vw;
    width: 8.3vw;
}

.btn-sbsc {
    margin-left: 15px;
    float: left;
    height: 4vw;
    width: 6vw;
    margin-top: 10px;
}

.email-input {
    color: white;
    margin-top: 10px;
    border: none;
    outline: none;
    float: left;
    background-color: transparent;
    border-bottom: 4px solid #f9bd3c;
}